<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作用域插槽</title>
    <script src="./vue.min.js"></script>
</head>
<style>
    .current {
        color: rgb(105, 105, 2);
    }
</style>

<body>
    <div id="app">
        <div>{{msg}}</div>
        <div>父组件对子组件的内容加工处理</div>
        <div>获取slot标签中 :data='item'中绑定的值</slot>
        </div>
        <son :fruit='fruit' :cat='cat'>
            <!-- 获取子组件中slot标签绑定的属性值（数据） 再讲获取到的数据进行处理（讲符合条件的高亮显示其余普通显示）-->
            <template slot-scope='slotProps'>
                <!-- 如果获取到slot中数据的id等于二，高亮显示（添加高亮显示的类名） -->
                <strong v-if='slotProps.data.id==2' class='current'>{{slotProps.data.id+slotProps.data.name}}</strong>
                <strong v-else>{{slotProps.data.id+slotProps.data.name}}</strong>

                <!-- <strong v-if='slotProps.cat.id==2' class='current'>{{slotProps.cat.id+slotProps.cat.name}}</strong>
                <strong v-else>{{slotProps.cat.id+slotProps.cat.name}}</strong> -->
            </template>

        </son>
    </div>
    <script>

        Vue.component('son', {
            props: ['fruit', 'cat'],
            data: function () {
                return {
                    msg: '子组件',
                }
            },
            template: `
            <div>
                <div>{{msg}}</div>
                <li style="list-style:none" :key='item.id' v-for='(item,index) in fruit'>
                    <slot :data='item'>{{index+'.'+item.name}}</slot>    
                </li> 

                <!--<li style="list-style:none" :key='item.id' v-for='(item,index) in cat'>
                    <slot :cat='item'>{{index+'.'+item.name}}</slot>    
                </li> --!>
            </div>   
            `
        })
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '父组件',
                fruit: [{ id: 1, name: '苹果' }, { id: 2, name: '橘子' }, { id: 3, name: '橙子' }],
                cat: [{ id: 1, name: 'mao' }, { id: 2, name: 'cxk' }, { id: 3, name: 'dog' }]
            },
        })
    </script>
</body>

</html>